# Папка со сборкой и зависимостями
.build/

# Файлы Swift Package Manager
.swiftpm/
Package.resolved

# Файлы Xcode (если не нужен .xcodeproj)
*.xcodeproj/
*.xcworkspace/
xcuserdata/

# Файлы операционной системы и IDE
.DS_Store
.vscode/
.idea/
*.swp

# Файлы баз данных (их не хранят в Git)
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Файлы с секретными данными
.env