# Папка со сборкой и зависимостями
.build/

# Файлы Swift Package Manager
.swiftpm/
Package.resolved

# Файлы Xcode
# Игнорируем весь Xcode проект, если используем Swift Package Manager
# Если вы хотите сохранить .xcodeproj в Git, закомментируйте эту строку
*.xcodeproj/
*.xcworkspace/
xcuserdata/

# Файлы операционной системы
.DS_Store

# Файлы баз данных (их не хранят в Git)
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Файлы с секретными данными (если будешь использовать)
.env
